@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(177, 214, 173);
}

#header-img {
    width: 300px;
}

.nav-link {
    padding-right: 70px;
    color: black;
    text-decoration: none;
}

#section-form {
    display: block;
    height: 175px;
    margin: 90px auto 0px auto;
}

@media  (max-width: 700px) {
    #header {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120px;
    }

    #nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .nav-link{
        margin-bottom: 5px;
    }

    #section-form {
        display: block;
        height: 175px;
        margin: 150px auto 0px auto;
        
    }
}



#section-form > h1 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#email {
    width: 275px;
    padding: 5px;
    margin-bottom: 20px;
}

#submit {
    width: 150px;
    height: 25px;
    font-size: 1em;
    font-weight: bolder;
    background-color: orange;
    border: 0px;
}

#featuresgrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 150px;
    color: orange;
}

#describe {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    height: 125px;
}

#describe > h2 {
    margin-bottom: 8px;
}

i {
    font-size: 40px;
}

#video {
    display: block;
    margin: 60px auto 60px auto;
}